.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.popup_opened {
    visibility: visible;
    opacity: 1;
    display: flex;  
}
.popup__content{
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 5px;
}
.popup__close-btn{
    margin-top: 20px;
    background-image: url('../../images/close.svg');
    background-position: center;
    background-color: white;
    padding: 0;
    border-radius: 50%;
    border: 1px solid grey;
    height: 35px;
    width: 35px;
    justify-self: flex-end;
}
.popup__message {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: red;
}